<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regiter site</title>
</head>
<body>
       <form method="post">
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Register">

    </form>
</body>
</html>