{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%block title%}
            Parent Page
        {%endblock%}
    </title>
     <!-- <link rel="stylesheet" href="{%static 'css/style.css' %}"> -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <script src="{%static 'js/index.js'%}"></script>
</head>
<body>
<table width="100%" hieght="100%">
    <tr>
        <td colspan="9">
            <h1>Header</h1>
        </td>
    </tr>

    <tr>
        <td colspan="9">
            {% if user.is_authenticated %}
                <h1>Welcome, {{ user.username }}!</h1>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
               <h1>Please log in to see your profile.</h1>

                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
    
            {% endif %}
            <a href="{%url 'home'%}">add Traninee</a>
            
            <a href="{%url 'traineelist'%}">traniees</a>
            
            <a href="/admin/">Courses</a>
            
        </td>
    </tr>


     <tr>
         <td colspan="7">
            <h1>content</h1>
             {%block content%}
             content
             {%endblock%}
        </td>
    </tr>

    <tr>
        <td colspan="9">
            <h1>footer</h1>
        </td>
    </tr>


</table>

</body>
</html>
 {%block js%}

{%endblock%}